p {
  color:lightblue;
  text-align: left;
  background-color: lightblue;
 }
  
 body {
  background-color: lightblue;
 }
  
  H2 {
    text-align: left;
  }
   p.one {
    border-style:solid;
    border-color:lightblue;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:cadetblue;
  }
   
  li {
    float: left;
  }
   
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:teal;
  }
  
  
 h2 {
  text-shadow: 2px 2px 5px cadetblue;
 }
  
 p {
  border-style: solid;
  border-color:cadetblue;
  border-width: 5px;
 }

 img{
  float:left;
  object-fit:fill;
  border-color: cadetblue;
  border-style: solid;
  border-width: 5px;
  width:80%;
}

iframe{
  float:left;
  border-color: cadetblue;
  border-style: solid;
  border-width: 5px;
  width:fit-content;
  object-fit:none;
}