p {
  color:lightblue;
  text-align: left;
  background-color: lightblue;
 }
  
 body {
  background-color: lightblue;
 }
  
  H2 {
    text-align: left;
  }
   p.one {
    border-style:solid;
    border-color:lightblue;
  }
  
 .topnav {
  background-color: black ;
  overflow: hidden;
 }
  
 .topnav a {
  float:left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-decoration: none;
 }
  
 .topnav a:hover {
  background-color:aliceblue;
  color: black;
 }
  
 /* Add a color to the active/current link */
 .topnav a.active {
  background-color: #04AA6D;
  color:black;
 }
  
 h2 {
  text-shadow: 2px 2px 5px cadetblue;
 }
  
 p {
  border-style: solid;
  border-color:cadetblue;
  border-width: 5px;
 }

 img{
  float:right;
}

